body {
	background-color: #FFFFFF;
	color: #606060;
}

#main {
 	font-family: "Times New Roman", serif;
	font-size: 5em;
}

a {
	color: #606060;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

#red{
	color: #D84732;
}

#blue {
	color: #176CED;
}

#yellow {
	color: #FFB901;
}

#green {
	color: #019F5A;
}

#orange {
	color: #D94530;
}