body {
	background-color: #FFFFFF;
	color: #606060;
}

a {
	color: #606060;
	font-family: Arial, sans-serif;
	text-decoration: none;
	padding: 0px 10px 0px 10px
}

.top_links{
	display: inline-block;

}

#main {
	display: block;
	width: 40%;
}

#input{
	width: 100%;
}

#bottom_links {
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0;
	width: 99%;
	padding: 20px 20px 20px 20px;
}

.left{
	float: left;
}

.right{
	float: right;
	border: solid black;
}
/*
#red{
	color: #D84732;
}

#blue {
	color: #176CED;
}

#yellow {
	color: #FFB901;
}

#green {
	color: #019F5A;
}

#orange {
	color: #D94530;
}
*/
